# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# visualstudio
/.vs/ProjectSettings.json
/.vs/slnx.sqlite

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
dim_backup/dimension type/the_beyond.json
dim_backup/dimension/the_beyond.json
libs/Mantle-1.15.2-1.5.DEV.GITBORK.jar
libs/TConstruct-1.15.2-3.0.1.DEV.GITBORK.jar
logs/debug.log
logs/latest.log
TCon/materials/allthemodium_from_block.json
TCon/materials/allthemodium_from_ingot.json
TCon/materials/allthemodium_from_nugget.json
TCon/melting/allthemodium_from_block.json
TCon/melting/allthemodium_from_dust.json
TCon/melting/allthemodium_from_ingot.json
TCon/melting/allthemodium_from_nugget.json
TCon/melting/allthemodium_from_ore.json
TCon/silent_assets/unobtainium.json
TCon/silent_assets/vibranium.json
TCon/silent_data/unobtainium.json
TCon/silent_data/vibranium.json

# datagen
src/generated/resources/.cache

# vscode
.vscode